Top beers at <a href="{{url}}"><b>{{venue.venue_name}}</b></a> <i>({{address}})</i>:<br>
<br>
{{#each beers}}
<b>{{beer.beer_name}}</b> by <i>{{brewery.brewery_name}}</i> ({{beer.beer_style}} @ {{beer.beer_abv}}%)<br>
{{/each}}
